#Url amigables
#RewriteEngine On
#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteRule ^([_0-9a-zA-Z-]+)\/?$ $1.php [NC, L]
#redireccion 301
#RedirectMatch 301 (.*)\.html$ http://www.encorto.com.ar$1.php
#redireccion 404 
#ErrorDocument 404 https://www.encorto.com.ar/404
