:root {
    --fondo: #000;
    --resaltado: #FC0000;
    --colorletra: #fff;
    --hover: #FC0000;
    --blanco: #fff;
    --rojo: #FC0000;
}


/* Genrales */

body {
    background-color: var(--fondo);
    font-size: 20px;
}

.hover:hover {
    color: var(--hover) !important;
    transition: all 0.5s ease;
}

.rhover:hover {
    color: var(--colorletra) !important;
    transition: all 0.5s ease;
}

.resaltado {
    color: var(--resaltado);
}

a {
    text-decoration: none !important;

}

.card {
    border: none !important;
    border-radius: 0px !important;
}

/* Boostrap 5 columnas */
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* Navbar */
.navbar {
    color: var(--colorletra);
    padding: 0 10% 0 5%;
    z-index: 999 !important;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--colorletra) !important;
    font-size: 32px;
}

.nvmovil {
    display: none !important;
}

.nvmovil a {
    text-align: center;
    color: var(--colorletra);
    padding: 10px;
    font-size: 32px;
}

/* Overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--fondo);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--blanco);
    display: block;
    transition: 0.3s;
    font-weight: 500;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--hover);
    transition: all 0.5s ease;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Seccion 1 */
.seccion1 {
    padding: 7% 7% 0 10%;
    font-size: 20px;
}

.seccion1 h2 {
    font-size: 42px;
    font-weight: bold;
}

/* seccion 2  */
.seccion2 {
    padding: 20% 10% 20% 10%;
    font-size: 20px;
}

.seccion2 .numero {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
}

.seccion2 .subtitulo {
    font-size: 12px;
    font-family: Helvetica;
    letter-spacing: 5px;
    text-align: center;
}

/* Proyectos */
.home {
    padding: 10% 0 2% 0;
}

.home a {
    font-weight: 100;
    font-family: Helvetica;
    letter-spacing: 5px;
}

.proyectos {
    font-size: 40px;
}

.proyectos .card h4 {
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 35px;
}

.proyectos .card h5 {
    padding-right: 5%;
    text-align: right;
}

.proyectos .card a {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 14.4px;
    letter-spacing: 5px;
    color: #e3e3e3;
}

.proyectos .row{
    height: 12em;
}

.proyectos .card {
    background-image: url('https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* footer */
.llamanos {
    text-align: center;
    font-family: Helvetica;
    font-weight: bolder;
}

.llamanos span.hover.text-white.text {
    font-size: 15px;
}

.footerdiv {
    text-align: center;
}

.footer {
    padding: 5% 0 5% 0;
    overflow: hidden;
}

.footer .copy {
    font-size: 8px;
    color: darkgray;
}

.footerdiv a {
    text-align: center;
    color: var(--colorletra);
    padding: 10px;
    font-size: 32px;
}

.footerdiv span.hover.text-white.text {
    font-size: 15px;
}

/* responsive */

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1140px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 960px) {

    /* Navbar */
    .nvescritorio {
        display: none !important;
    }

    .nvmovil {
        display: block !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 720px) {
    .proyectos .row{
        height: 3em;
    }
    
    .proyectos .card {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 540px) {
    /* Seccion1 */
    .seccion1 {
        padding: 7% 15% 0 15% !important;
        font-size: 20px;
    }

    .seccion1 h2 {
        font-size: 20px;
    }

    /* Seccion2 */
    .seccion2 {
        padding: 10% 0% 0 0%;
        font-size: 20px;
    }

    .seccion2 .subtitulo {
        font-size: 14px;
        display: flex !important;
        text-align: left;
        align-items: center;
    }

}