:root {
    --fondo: #000;
    --resaltado: #FC0000;
    --colorletra: #fff;
    --hover: #FC0000;
    --blanco: #fff;
    --rojo: #FC0000;
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf);
}

/* Genrales */

body {
    background-color: var(--fondo);
    font-size: 20px;
    overflow-x: hidden !important;
}

.hover:hover {
    color: var(--hover) !important;
    transition: all 0.5s ease;
}

.rhover:hover {
    color: var(--colorletra) !important;
    transition: all 0.5s ease;
}

.resaltado {
    color: var(--resaltado);
}

a {
    text-decoration: none !important;

}

.card {
    border: none !important;
    border-radius: 0px !important;
}


/* Boostrap 5 columnas */
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

/* Navbar */
.navbar {
    color: var(--colorletra);
    padding: 0 10% 0 5%;
    z-index: 999 !important;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--colorletra) !important;
    font-size: 32px;
}

.nvmovil {
    display: none !important;
}

.nvmovil a {
    text-align: center;
    color: var(--colorletra);
    padding: 10px;
    font-size: 32px;
}

/* Overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--fondo);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--blanco);
    display: block;
    transition: 0.3s;
    font-weight: 500;
}

.overlay a:hover,
.overlay a:focus {
    color: var(--hover);
    transition: all 0.5s ease;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Seccion 1 */
.seccion1 {
    padding: 7% 7% 0 10%;
    font-size: 20px;
}

.seccion1 h2 {
    font-size: 42px;
    font-weight: bold;
}

/* seccion 2  */
.seccion2 {
    padding: 20% 10% 20% 10%;
    font-size: 20px;
}

.seccion2 .numero {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
}

.seccion2 .subtitulo {
    font-size: 12px;
    font-family: Helvetica;
    letter-spacing: 5px;
    text-align: center;
}

/* Proyectos */
.pro-seccion1 {
    padding-top: 10%;
}

.pro-seccion1 .numero hr {
    color: var(--colorletra);
    background-color: var(--colorletra);
    height: 10px;
    width: 260px;
    margin: 0 0 -65px -80px;
    padding: 0 0 0 0;
}

.pro-seccion1 h3 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bolder;
}

.pro-seccion1 h2 {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bolder;
}

.home {
    padding: 10% 0 2% 0;
}

.home a {
    font-weight: 100;
    font-family: Helvetica;
    letter-spacing: 5px;
}
/* home proyectos page */
.home-pp {
    padding: 10% 0 2% 0;
}

.home-pp a {
    display: flex;
    font-weight: 100;
    font-family: Helvetica;
    letter-spacing: 5px;
    font-size: 12px;
}
.home-pp .fa-arrow-left{
    font-size: 20px !important;
}
.ppage{
    padding: 0 12% 0 12% ;
}
.ppage h6{
    font-weight: 100;
    font-family: Helvetica;
    letter-spacing: 3px;
    font-size: 12px;
}
.ppage h2 {
    font-family: Helvetica;
    font-size: 60px;
    font-weight: bolder;
}
.ppage p {
    color: #ABABAB;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 100;
}
.youtube{
    width: 100%;
    height: 500px;
}
/*  */
.proyectos {
    font-size: 40px;
}

.proyectos .card h4 {
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 35px;
}

.proyectos .card h5 {
    padding-right: 5%;
    text-align: right;
}

.proyectos .card a {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 14.4px;
    letter-spacing: 5px;
    color: #e3e3e3;
}

.proyectos .cardcont {
    height: 14em;
}

.proyectos .card {

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* footer */
.llamanos {
    text-align: center;
    font-family: Helvetica;
    font-weight: bolder;
}

.llamanos span.hover.text-white.text {
    font-size: 15px;
}

.footerdiv {
    text-align: center;
}

.footer {
    padding: 5% 0 5% 0;
    overflow: hidden;
}

.footer .copy {
    font-size: 8px;
    color: darkgray;
}

.footerdiv a {
    text-align: center;
    color: var(--colorletra);
    padding: 10px;
    font-size: 32px;
}

.footerdiv span.hover.text-white.text {
    font-size: 15px;
}

/* contacto */
.parrafo {
    color: #ABABAB;
    font-size: 0.8rem;
    font-family: Roboto;
    font-weight: 50 !important;
    letter-spacing: 2px;
}

.redes {
    justify-content: center !important;
    text-align: right;
}

.home-p {
    padding: 3% 0 2% 0;
}

.home-p a {
    font-weight: 100;
    font-family: Helvetica;
    letter-spacing: 5px;
}

/* nosotros */
.no-seccion1 {
    padding-top: 10%;
}

.no-seccion1 .numero hr {
    color: var(--colorletra);
    background-color: var(--colorletra);
    height: 10px;
    width: 260px;
    margin: 0 0 -65px -80px;
    padding: 0 0 0 0;
}

.no-seccion1 h3 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bolder;
}

.no-seccion1 h2 {
    font-family: Helvetica;
    font-size: 45px;
    font-weight: bolder;
}

/* carrousel */
.carousel-item img {
    width: 40% !important;
}

.carousel-indicators li {
    width: 7px !important;
    height: 7px !important;
    border-radius: 50%;
}

.carousel-item {
    text-align: center;
    height: auto;
}

.inner {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 300px;
    padding: 0 15% 0 15%;
}

.inner h6 {
    font-size: 25px;
    font-weight: bold;
}

/* conacto */
.contacto {
    text-align: justify;
    padding-top: 5%;
}

.contacto form input,
.contacto form textarea {
    background-color: transparent;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid 1px #fff;
    border-radius: 0px !important;
    transition: all 0.5s ease;
}

.contacto form button {
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
}

.contacto form button:hover,
.contacto form button:focus {
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;

}

.contacto form input:focus,
.contacto form textarea:focus {
    background-color: transparent;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid 1px #FC0000;
    transition: all 0.5s ease;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
}

form input::placeholder,
form textarea::placeholder {
    color: #e3e3e3 !important;
    opacity: 1;
}

.info .tabs {
    margin: 5% 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.break {
    display: block;
    width: 100%;
    height: 0px;
}

.info .tabs h6,
.info .tabs p,
.info .tabs a {
    color: darkgray;
    font-size: 15px;
    font-weight: 100;
}

.info .bordes {
    border-left: solid 1px var(--rojo);
    border-right: solid 1px var(--rojo);
}

/* animaciones */
.fade-in-left {
    animation: fade-in-left 4s;
}

.fade-in-left1 {
    animation: fade-in-left 8s;
}

@keyframes fade-in-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* responsive */

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1140px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 960px) {

    /* Navbar */
    .nvescritorio {
        display: none !important;
    }

    .nvmovil {
        display: block !important;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 720px) {
    .proyectos .cardcont {
        height: 7em;
    }

    .proyectos .card {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .pro-seccion1 h2 {
        font-size: 22px;
    }

    .no-seccion1 h2 {
        font-size: 22px;
    }

    .home {
        padding: 20px;
    }
    /* pp page */
    .home-pp {
        padding: 20px;
    }
    .ppage h2 {
        font-size: 40px;
    }
    .home-p {
        padding: 20px;
    }
    .youtube{
        width: 100%;
        height: 300px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 540px) {

    /* Seccion1 */
    .seccion1 {
        padding: 7% 15% 0 15% !important;
        font-size: 20px;
    }

    .seccion1 h2 {
        font-size: 20px;
    }

    /* Seccion2 */
    .seccion2 {
        padding: 10% 0% 0 0%;
        font-size: 20px;
    }

    .seccion2 .subtitulo {
        font-size: 14px;
        display: flex !important;
        text-align: left;
        align-items: center;
    }

    .proyectos .cardcont {
        height: 5em;
    }

    .pro-seccion1 .numero {
        padding: 0px 20px 0px 40px;
    }

    .pro-seccion1 .numero hr {
        height: 8px;
        width: 100px;
        margin: 0 0 -40px -15px;
    }

    .pro-seccion1 h3 {
        font-size: 60px;
    }

    .pro-seccion1 {
        padding-top: 18%;
    }

    .pro-seccion1 h2 {
        font-size: 22px;
    }

    /* nosotros */
    .no-seccion1 .numero {
        padding: 0px 20px 0px 40px;
    }

    .no-seccion1 .numero hr {
        height: 8px;
        width: 100px;
        margin: 0 0 -40px -15px;
    }

    .no-seccion1 h3 {
        font-size: 60px;
    }

    .no-seccion1 {
        padding-top: 10%;
    }

    .no-seccion1 h2 {
        font-size: 22px;
        line-height: 25px;
    }

    .home {
        padding: 20px;
    }
    .home-pp {
        padding: 20px;
    }
    /* contacto */
    .info .tabs {
        text-align: center;
        padding: 15px;
    }

    .info .bordes {
        border-left: 0px;
        border-right: 0px;
        border-top: solid 1px var(--rojo);
        border-bottom: solid 1px var(--rojo);
    }

    /* parrafo */
    .parrafo {
        padding: 20px;
        line-height: normal;
    }

    /* carrousel */
    .carousel-item img {
        width: 80%;
    }
    .ppage{
        padding: 0 2% 0 2% ;
    }
}